project:
  type: website

format:
  html:
    theme: cosmo
    toc: true
    grid:
      sidebar-width: 300px
      body-width: 900px
      margin-width: 300px
      gutter-width: 1.5rem

website:
  title: pointblank
  site-url: https://rich-iannone.github.io/pointblank/
  description: "Find out if your data is what you think it is"
  page-navigation: true
  navbar:
    left:
      - text: Get Started
        file: get-started/index.qmd
      - href: reference/index.qmd
        text: Reference
    right:
      - icon: github
        href: https://github.com/rich-iannone/pointblank

html-table-processing: none

quartodoc:
  package: pointblank
  dir: reference
  title: API Reference
  style: pkgdown
  dynamic: true
  renderer:
    style: markdown
    table_style: description-list
  sections:
    - title: Validate
      desc: >
        If going down the road of preparing a data quality analysis, you'll need the Validate class
        to get the process started. The object is given the target table along with a stepwise
        validation plan composed via validation methods.
      contents:
        - name: Validate
          members: []
    - title: Validation Steps
      desc: >
        The validation steps are the individual validation methods that can be used to build a
        validation plan. These methods are used to interrogate the data and report on the results.
      contents:
        - name: Validate.col_vals_gt
        - name: Validate.col_vals_lt
        - name: Validate.col_vals_ge
        - name: Validate.col_vals_le
        - name: Validate.col_vals_eq
        - name: Validate.col_vals_ne
        - name: Validate.col_vals_between
        - name: Validate.col_vals_outside
        - name: Validate.col_vals_in_set
        - name: Validate.col_vals_not_in_set
        - name: Validate.col_vals_regex
        - name: Validate.col_vals_not_null
        - name: Validate.col_exists
    - title: Interrogation and Reporting
      desc: >
        The interrogation and reporting methods are used to extract data and report on the results.
      contents:
        - name: Validate.interrogate
        - name: Validate.get_data_extracts
        - name: Validate.get_json_report
        - name: Validate.get_tabular_report
        - name: Validate.get_sundered_data
        - name: Validate.all_passed
        - name: Validate.n
        - name: Validate.n_passed
        - name: Validate.n_failed
        - name: Validate.f_passed
        - name: Validate.f_failed
        - name: Validate.warn
        - name: Validate.stop
        - name: Validate.notify
    - title: Utilities
      desc: >
        The utilities group will contain functions that are helpful for the validation process.
      contents:
        - name: load_dataset
