.table a {
    text-underline-offset: 4px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: inherit;
    font-weight: bold;
    font-size: 0.875em;
    word-break: initial;
    text-decoration-thickness: 2px;
}

body {
    background-color: #FCFEFF;
}

p a {
    color: black;
    text-underline-offset: 4px;
}

li a {
    color: black;
    text-underline-offset: 4px;
}

dt {
    height: 32px;
    overflow-x: visible;
    margin-left: -4px;
}

.table td {
    padding-left: 0px;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875em;
    color: rgb(18, 18, 18);
}

.blockquote {
    font-size: 13px;
    background-color: #E8E8E8;
    border-left-color: #4682B4;
}

p,h1,h2,h3,#toc-title,#toc-function-reference,.nav-link,.table {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.cell-output.cell-output-stdout {
    border-style: solid;
    border-width: 1px;
    border-color: #A1A1A165;
    border-radius: 4px;
    padding: 0.4em;
    background-color: #F7F1EB65;
    margin-bottom: 12px;
}

summary::marker {
  font-size: 1.5em;
}

.parameter-name {
    margin-right: -10px;
}

#toc-title {
    font-size: 16px;
}

#toc-title > ul {
    font-size: 14px;
}

#quarto-margin-sidebar {
    margin-left: 20px;
    padding-top: 30px;
}

#quarto-margin-sidebar nav ul li  {
    padding-top: 3px;
}

#navbarCollapse > ul.navbar-nav.navbar-nav-scroll.me-auto > li > a:hover {
    background-color: rgb(240, 112, 0);
    color: white;
    border-radius: 5px;
}

#navbarCollapse > ul.navbar-nav.navbar-nav-scroll.me-auto > li > a {
    color: white;
    font-weight: bold;
}

a.sidebar-item-text.sidebar-link.text-start[data-bs-toggle="collapse"] {
    pointer-events: none;
    cursor: default;
}

div.sidebar-item-container {
    cursor: default !important;
}

a.sidebar-item-toggle.text-start > i {
    color: #FAFAFD;
}

a.sidebar-item-text.sidebar-link.active {
    color: rgb(244, 121, 0);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(101, 180, 237, 0.75);
}

#api-reference > h1 {
    margin: 0;
}

.navbar-title {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-weight: bold;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
}

#quarto-sidebar {
    background-color: #FAFAFD;
}

a.sidebar-item-text.sidebar-link.text-start > span {
    text-transform: uppercase;
    font-weight: 600;
    color: dimgray;
}

.sidebar-menu-container {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #E7EAF6;
}

.menu-text {
    font-size: 15.3px;
}

.sidebar-item-section {
    padding-bottom: 8px;
}

#quarto-header > nav > div {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar {
	background: linear-gradient(-45deg, #04778B, #1C7FF0, #006C93, #05614C);
	background-size: 200% 100%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(101, 180, 237, 0.75);
    text-underline-offset: 4px;
}

#navbarCollapse > ul.navbar-nav.navbar-nav-scroll.ms-auto > li {
    padding-right: 5px
}

.shrink-example .cell-output table {
    zoom: 60%;
}

.nav-footer {
    background: linear-gradient(-45deg,
        rgba(4, 119, 139, 0.15),
        rgba(28, 127, 240, 0.2),
        rgba(0, 108, 147, 0.12),
        rgba(5, 97, 76, 0.18),
        rgba(173, 216, 230, 0.25));
    background-size: 400% 400%;
    animation: footerGradient 15s ease infinite;
    padding-top: 20px;
    border-top-color: rgba(4, 119, 139, 0.4);
    border-top-style: solid;
    border-top-width: 2px;
}

.nav-footer-left {
    color: rgb(48, 48, 48);
}

.nav-footer-right {
    color: rgb(48, 48, 48);
}

#examples {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    background-color: rgb(241, 252, 243);
}

@keyframes footerGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes examplesGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
